<!-- Season Games -->
<template name="seasonGamesMain">
	<!-- dashboardHeader defined in seasonManager.html -->
	{{> dashboardHeader }}
	<div class="container text-center" >
		<h2>{{ seasonName }}</h2>
		{{> yield}}
	</div>
</template>

<template name="seasonGamesList">
	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th colspan=5>
					Group Filter:
					<select id="groupFilter">
						<option value="">None</option>
						{{ #each groupFilter }}	
							<option value="{{this}}" {{ isFilterSelected }} >{{ this }}</option>
						{{ /each }}
					</select>		
				</th>
			</tr>
			<tr>
				<th class="text-center"><input type="checkbox" id="cbAll"/></th>
				<th>Group</th>
				<th>Label</th>
				<th>Date</th>
				<th>Teams</th>
			</tr>
		</thead>
		<tbody>
			{{ #each gamesView }}
				{{ > gameView }}
			{{ /each }}
		</tbody>
	</table>
</template>

<template name="gameView">
	<tr>
		<td><input type="checkbox" name="cbGame" id="cb_{{_id}}"/></td>
		<td class="text-left">{{ group }}</td>
		<td class="text-left">{{ name }}</td>
		<td class="text-left">{{ dateDisplay }}</td>
		<td class="text-left">
			<div class="btn-group btn-group-game-{{ _id }}" data-toggle="buttons">
	      		<label class="btn btn-default {{#if pickTeam1}}btn-success active{{/if}} {{#if disablePick }}disabled{{/if}}">
					<input type="radio" checked="{{#if pickTeam1}}true{{/if}}" class="btn-grp-status" name="gameviewteam_{{ _id }}" value="team1" autocomplete="off">{{ team1 }}
				</label>&nbsp;
				<label class="btn btn-default {{#if pickTeam2}}btn-success active{{/if}} {{#if disablePick}}disabled{{/if}}">
					<input type="radio" checked="{{#if pickTeam2}}true{{/if}}"  class="btn-grp-status" name="gameviewteam_{{ _id }}" value="team2" autocomplete="off">{{ team2 }}
				</label>
			</div>
			{{#if disablePick}}<span class="glyphicon glyphicon-lock" data-toggle="popover-locked" data-placement="bottom" title="Pick locked" data-content="Pick Locked"></span>{{/if}}
		</td>
	</tr>
</template>