<template name="seasonEditMain">

	{{> dashboardHeader }}
	<div class="container text-center" >
		{{> yield}}
	</div>
</template>

<template name="seasonEditForm">
	
		<h2>Edit Season</h2>
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading" style="text-align: left"><h4 class="panel-title">Season Settings <span class="pull-right"><a href="#" id="deleteSeasonLink" class="text-danger">Delete Season <span class="glyphicon glyphicon-remove-circle text-danger" aria-hidden="true"></span></a></span></h4></div>
			<div class="panel-body">
				{{ > seasonSettingsForm }}
			</div>
		</div>

		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading" style="text-align: left"><h4 class="panel-title">Season Games <span class="badge alert-info">{{ numGames }}</span></h4></div>
			<div class="panel-body">

				<!-- Table -->
				<table class="table table-striped table-hover">
					<tbody>
					{{ #each games }}
						{{ > game }}
					{{ /each }}
					</tbody>
				</table>

				<button id="addGameBtn" type="button" class="btn btn-info btn-md" style="margin-top: 10px" {{ editGameControlDisabled }}><span class="glyphicon glyphicon-plus" aria-hidden="true" ></span> Add Game</button>

			</div>
		</div>


		<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	        <div class="modal-dialog">
	            <div class="modal-content">
	            
	                <div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
	                </div>
	            
	                <div class="modal-body">
	                    <p>You are about to delete this game, this procedure is irreversible.</p>
	                    <p>Do you want to proceed?</p>
	                    <p class="debug-url"></p>
	                </div>
	                
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	                    <a class="btn btn-danger btn-ok">Delete</a>
	                </div>
	            </div>
	        </div>
		</div>
	<!--
    <a href="#" data-href="/delete.php?id=23" data-toggle="modal" data-target="#confirm-delete">Delete record #23</a><br>
    <button class="btn btn-default" data-href="/delete.php?id=54" data-toggle="modal" data-target="#confirm-delete">
        Delete record #54
    </button>
	-->
</template>

<template name="seasonSettingsForm">
	{{ #with loadSeasonSettings }}
	<form id="formSeasonEdit" class="form-horizontal" role="form">
      	<div class="form-group" >
      		<div class="form-inline">
		      		<label for="seasonName" class="control-label col-xs-2">Season Name</label>
		      		<div class="col-xs-3" id="seasonNameDiv">
			    		<input type="text" placeholder="Name" class="form-control" id="seasonName" name="seasonName" data-required value="{{ seasonInfo.name }}"/>
			    	</div>
			   		<label for="seasonCode" class="control-label col-xs-2">Season Code</label>
		      		<div class="col-xs-5" style="text-align: left" id="seasonCodeDiv">
			    		<input type="text" placeholder="Code" class="form-control" id="seasonCode" name="seasonCode" data-required value="{{ seasonInfo.code }}"/>&nbsp;<a id="info-season-code" href="#" data-toggle="popover-seasoncode" data-placement="bottom" title="Season Code" data-content="Provide to players when signing up for season. Requirements: No spaces, 6 alpha numeric minimum."><span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="cursor: pointer"></span></a>
			    	</div>
			</div>
	    </div>
	    <div class="form-group" >
      		<label for="seasonStatus" class="control-label col-xs-2">Status</label>
      		<div class="btn-group col-xs-10" data-toggle="buttons">
	      		<label class="btn btn-primary {{#if seasonInfo.enabled}}active{{/if}}">
					<input type="radio" checked="{{#if seasonInfo.enabled}}true{{/if}}" class="btn-grp-status" name="seasonStatusOpts" value="1" autocomplete="off"> Enable
				</label>
				<label class="btn btn-primary {{#if seasonInfo.disabled}}active{{/if}}">
					<input type="radio" checked="{{#if seasonInfo.disabled}}true{{/if}}"  class="btn-grp-status" name="seasonStatusOpts" value="0" autocomplete="off"> Disable
				</label>
				<label class="btn btn-primary {{#if seasonInfo.hidden}}active{{/if}}">
					<input type="radio" checked="{{#if seasonInfo.hidden}}true{{/if}}"  class="btn-grp-status" name="seasonStatusOpts" value="2" autocomplete="off"> Hide
				</label>
			</div>
	    </div>
	    <div class="form-group" >
      		<label for="seasonPay" class="control-label col-xs-2">Pay Option</label>
      		<div class="btn-group col-xs-10" data-toggle="buttons">
	      		<label class="btn btn-primary {{#if seasonInfo.pay}}active{{/if}}">
					<input type="radio" checked="{{#if seasonInfo.pay}}true{{/if}}" class="btn-grp-pay" name="seasonPayOpts" value="1" autocomplete="off"> Enable
				</label>
				<label class="btn btn-primary {{#unless seasonInfo.pay}}active{{/unless}}">
					<input type="radio" checked="{{#unless seasonInfo.pay}}true{{/unless}}" class="btn-grp-pay" name="seasonPayOpts" value="0" autocomplete="off"> Disable
				</label>
	    	</div>
	    </div>
	</form>
	{{ /with }}
</template>

<template name="game">
	<tr>
		<td>
			<form role="form" id="form-game">
				<div id="rowEdit_{{ _id }}" style="display: none">
					<div class="row" style="padding: 0px 0px 10px 0px">
						<div class="form-inline">
							<div class="form-group col-xs-6">
								<div id="gameGroupContainer_{{_id}}">
						    		<label for="gameGroup" class="col-xs-3">Group</label>
							    	<input type="text" placeholder="ex. Week 1" class="col-xs-3" id="gameGroup_{{ _id }}" name="gameGroup" data-required value="{{ group }}"/>
							    </div>
							    <div id="gameLabelContainer_{{_id}}">
						    		<label for="seasonName" class="col-xs-3">Label</label>
						    		<input type="text" placeholder="ex. Game 1" class="col-xs-3" id="gameLabel_{{ _id }}" name="gameLabel" data-required value="{{ name }}"/>
						    	</div>
						    </div>
						    <div class="form-group col-xs-4">
						    	<label for="gameDate" class="col-xs-4">Date</label>
						    	<input type="text" class="col-xs-6" id="gameDate_{{ _id }}" placeholder="format: mm/dd/yyyy" value="{{ dateDisplay }}">
						    </div>
						</div>
					</div>
					<div class="row" style="padding: 0px 0px 10px 0px">
						<div class="form-inline" >
							<div class="form-group col-xs-6" >
					      		<label for="team1" class="col-xs-3">Home</label>
					  			<input type="text" placeholder="ex. SF" class="col-xs-3" id="team1_{{ _id }}" name="team1" data-required value="{{ team1 }}"/>
						    	<label for="team1" class="col-xs-3"> vs. Away</label>
						    	<input type="text" placeholder="ex. NY" class="col-xs-3" id="team2_{{ _id }}" name="team2" data-required value="{{ team2 }}"/>
						    </div>
							<div class="form-group col-xs-4">
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary {{#if statusOpen }}active{{/if}}">
										<input type="radio" class="btn-grp-status" checked="{{#if statusOpen }}true{{/if}}" name="gameStatusOpts_{{ _id }}" value="1" autocomplete="off"> Open Picks
									</label>
									<label class="btn btn-primary {{#if statusClose }}active{{/if}}">
										<input type="radio" class="btn-grp-status" checked="{{#if statusClose }}true{{/if}}" name="gameStatusOpts_{{ _id }}" value="0" autocomplete="off"> Close Picks
									</label>
									<label class="btn btn-primary {{#if statusHidden }}active{{/if}}">
										<input type="radio" class="btn-grp-status" checked="{{#if statusHidden }}true{{/if}}" name="gameStatusOpts_{{ _id }}" value="2" autocomplete="off"> Hidden
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row" style="padding: 0px 0px 10px 0px">
						<div class="form-inline" >
							<div class="col-xs-10">&nbsp;</div>
							<div class="col-xs-2">
								<button type="submit" id="saveGameBtn" class="btn btn-success btn-md" value="{{ _id }}">Save</button>
								<button type="submit" id="cancelGameBtn" class="btn btn-default btn-md" value="{{ _id }}">Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</form>
			<div id="rowStatic_{{ _id }}">
				<form class="form-inline">
					<div class="col-xs-2" style="text-align: left">
						<!--<label>Group:&nbsp;</label>-->
						<span>{{ group }}</span>
					</div>
					<div class="col-xs-2" style="text-align: left">
						<!--<label>Label:&nbsp;</label>-->
						<span>{{ name }}</span>
					</div>
					<div class="col-xs-1" style="text-align: left">
						<!--<label>Date:&nbsp;</label>-->
						<span>{{ dateDisplay }}</span>
					</div>
					<div class="col-xs-2">
						<label class="label{{ #if team1Winner }} label-success{{ else }} label-default {{ /if }}">{{ team1 }}</label> vs. <label class="label{{ #if team2Winner }} label-success{{ else }} label-default {{ /if }}">{{ team2 }}</label>
						<button id="quickEditWin" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="padding-top:0px"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span></button>
						<div class="btn-group dropdown-menu pull-right" data-toggle="buttons" role="menu" aria-labelledby="quickEditWin" style="padding: 0px; min-width: 85px;">
							<label class="btn btn-primary {{#if team1Winner }}active{{/if}}">
								<input type="radio" class="btn-grp-quick-win" checked="{{#if team1Winner }}true{{/if}}" name="gameQuickWinOpts_{{ _id }}" value="team1" autocomplete="off"> {{ team1 }}
							</label>
							<label class="btn btn-primary {{#if team2Winner }}active{{/if}}">
								<input type="radio" class="btn-grp-quick-win" checked="{{#if team2Winner }}true{{/if}}" name="gameQuickWinOpts_{{ _id }}" value="team2" autocomplete="off"> {{ team2 }}
							</label>
						</div> 
					</div>
					<div class="col-sm-3">
						<label>Status:&nbsp;</label>
						<span>{{ statusText }}</span>
						<button id="quickEditStatus" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="padding-top: 0px"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true" ></span></button>
						<div class="btn-group dropdown-menu" data-toggle="buttons" role="menu" aria-labelledby="quickEditStatus" style="width: 268px; padding: 0px">
							<label class="btn btn-primary {{#if statusOpen }}active{{/if}}">
								<input type="radio" class="btn-grp-quick-status" checked="{{#if statusOpen }}true{{/if}}" name="gameQuickStatusOpts_{{ _id }}" value="1" autocomplete="off"> Open Picks
							</label>
							<label class="btn btn-primary {{#if statusClose }}active{{/if}}">
								<input type="radio" class="btn-grp-quick-status" checked="{{#if statusClose }}true{{/if}}" name="gameQuickStatusOpts_{{ _id }}" value="0" autocomplete="off"> Close Picks
							</label>
							<label class="btn btn-primary {{#if statusHidden }}active{{/if}}">
								<input type="radio" class="btn-grp-quick-status" checked="{{#if statusHidden }}true{{/if}}" name="gameQuickStatusOpts_{{ _id }}" value="2" autocomplete="off"> Hidden
							</label>
						</div> 
					</div>
					<div class="col-xs-2">
						<button id="editGameBtn" name="editGameBtn" type="button" class="btn btn-link" value="{{ _id }}" {{ editGameControlDisabled }} style="padding-top: 0px"><span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span></button><button id="deleteGameBtn" type="button" class="btn btn-link" {{ editGameControlDisabled }} style="padding-top: 0px" value={{ _id }}><span class="glyphicon glyphicon-remove text-danger" aria-hidden="true" ></span></button> 
					</div>
				</form>
			</div>
		</td>
	</tr>
	
</template>