<!-- Season Games -->
<template name="seasonGamesMain">
	<!-- dashboardHeader defined in dashboardMain.html -->
	{{> dashboardHeader }}
	<div class="container text-center" >
		<h2>{{ seasonName }}</h2>
		{{> yield "backLink"}}
		{{> yield}}
	</div>
</template>

<template name="seasonGamesList">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th colspan=6>
					<div style="text-align: left">
						Group Filter:
						<select id="groupFilter">
							<option value="">None</option>
							{{ #each groupFilter }}	
								<option value="{{this}}" {{ isFilterSelected }} >{{ this }}</option>
							{{ /each }}
						</select>
						&nbsp;<label style="font-weight: normal">Showing {{ numDisplayedGames }} out of {{ numTotalGames }}</label>
						<span class="pull-right"><a href="#" target="_blank" id="gameReport" ><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a></span>
					</div>
				</th>
			</tr>
			<tr>
				<th class="text-center"><input type="checkbox" id="cbAll"/></th>
				<th>Group</th>
				<th>Label</th>
				<th>Date</th>
				<th>Teams</th>
				<th>Total Points</th>
			</tr>
		</thead>
		<tbody>
			{{ #each gamesView }}
				{{ > gameView }}
			{{ /each }}
		</tbody>
	</table>
</template>

<template name="gameView">
	<tr>
		<td><input type="checkbox" name="cbGame" id="cb_{{_id}}" value="{{_id}}"/></td>
		<td class="text-left">{{ group }}</td>
		<td class="text-left">{{ name }}</td>
		<td class="text-left">{{ dateDisplay }}</td>
		<td class="text-left">
			<div class="btn-group btn-group-game-{{ _id }}" data-toggle="buttons">
	      		<label class="btn btn-default {{#if pickTeam1}}btn-success active{{/if}} {{#if disablePick }}disabled{{/if}}">
					<input type="radio" checked="{{#if pickTeam1}}true{{/if}}" class="btn-grp-status" name="gameviewteam_{{ _id }}" value="team1" autocomplete="off">{{ team1 }}
				</label>&nbsp;
				<label class="btn btn-default {{#if pickTeam2}}btn-success active{{/if}} {{#if disablePick}}disabled{{/if}}">
					<input type="radio" checked="{{#if pickTeam2}}true{{/if}}"  class="btn-grp-status" name="gameviewteam_{{ _id }}" value="team2" autocomplete="off">{{ team2 }}
				</label>
			</div>
			{{#if disablePick}}<span class="glyphicon glyphicon-lock" data-toggle="popover-locked" data-placement="bottom" title="Pick locked" data-content="Pick Locked"></span>{{/if}}
		</td>
		<td class="text-left">
			{{ #if pointsOn }}
				{{ #if disablePick }}
					{{ points }}
				{{ else }}
					<input type="text" id="totalPoints_{{_id}}" class="totalpoints" maxlength=4 size=3 value="{{ points }}">
				{{/if}}
			{{ else }}
				&nbsp;
			{{ /if }}
		</td>
	</tr>
</template>

<template name="seasonGamesReport">
	<!--div class="modal" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-header">
            <h1>Processing...</h1>
        </div>
        <div class="modal-body">
            <div class="progress progress-striped active">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
    </div-->
    <!--div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">How to Use The app...</h4>
      </div>
      <div class="modal-body">
        This is how you would use the app....
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div-->
	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th>Group</th>
				<th>Label</th>
				<th>Game</th>
				<th>Date</th>
				{{ #each playersList }}
					{{> playerHead }}
				{{ /each }}
			</tr>
		</thead>
		<tbody>
			{{ #each gamesList }}
				{{> gameRow }}
			{{ /each }}
		</tbody>
	</table>
	<footer>
		{{> gameViewLegend }}
	</footer>
</template> 

<template name="playerHead">
	<th style="font-style: italic; font-weight: normal">{{ playerInfo.name }} <span class="badge">{{ playerInfo.totalWin }}</span></th>
</template>

<template name="gameRow">
	<tr><td>{{ group }}</td><td>{{ name }}</td><td><label style="{{ #if team1Winner }}font-weight: bold; color: green;{{ else }} font-weight: normal; {{/if}}">{{ team1 }}</label> vs. <label style="{{ #if team2Winner }}font-weight: bold; color: green;{{ else }} font-weight: normal;{{/if}}">{{ team2 }}</label></td><td>{{ dateDisplay }}</td>{{ #each gameRowPlayers }} {{> gameRowPlayer }} {{ /each }}</tr>
</template>

<template name="gameRowPlayer">
	<td>{{ #if this.hidePick }}<span class="glyphicon glyphicon-ok text-info"></span>{{ /if }}{{ #if this.noPick }}&nbsp;{{/if }}{{ #if this.showPick }}<label style="{{ #if this.isWinner }}font-weight: bold; color: green; {{ /if }}">{{ this.pick }}{{ #if this.usePoints}} - {{ this.points }}{{/if}}</label>{{ /if }}</td>
</template>

<template name="gameViewLegend">
	<span class="pull-left"><span class="glyphicon glyphicon-ok text-info"></span>&nbsp;&nbsp;Player has made a pick (during open pick status)</span> 
</template>

<template name="backLinkTemplate">
	<span><a href="/seasonGames/{{ this.seasonId }}">Back to View Games</a></span>
</template>

<template name="reportLoading">
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h4 class="modal-title" id="myModalLabel">Loading</h4>
			  </div>
			  <div class="modal-body">
			    This app is loading.. please wait.. 
			  </div>
			  <div class="modal-footer">
			    <!--button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			    <button type="button" class="btn btn-primary">Save changes</button-->
			  </div>
			</div>
		</div>
	</div>
</template>