/* CSS declarations go here */
#homeMain {
	height: 600px;
	padding: 200px 0px 0px 0px;
}

.button-text-blue SPAN {
	color: #666666;
}

.seasonIntroContainer {
	color: #666666;
}

div.hover-blue:hover  { 
	color: #FFFFFF;
	/*background-color: #3071a9;*/
	background-color: #428bca;
}

div.hover-blue:hover SPAN { 
	color: #FFFFFF;
}